<!---->
<div class="library">
<table>
    All Active Users
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Remove</th>
    </tr>
        <tr *ngFor="let user of counteries">
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td><button>Delete</button></td>
        </tr>
  </table>
</div>
  <!---->
<div class="main">
<h1>Create New User </h1>

<div class="newuser">
<form #newuserform="ngForm" (ngSubmit)="addData(newuserform)">
    <p>
    <!-- Username must have at least one character-->
    <input type="text" ngModel #username="ngModel" name="username" placeholder="New Username" required/>
    <span *ngIf="username.invalid">Username Invalid</span>
    </p>
    <p>
    <!-- Password must have at least one character-->
    <input type="password" ngModel #password="ngModel" name="password"  placeholder="New Password" required />
    <span *ngIf="password.invalid">Password Invalid</span>
    </p>
    <!-- Disables button if password or username is null-->
    <button [disabled]="newuserform.invalid" type="submit">Save Account</button>
</form>
</div>
</div>