<div class = "main">
<h1>Contact List</h1>
Updated On:
{{ creationDate | date : "dd/MM/yy" }}
<!---->
{{ creationDate | moment }} 

<div class catalog>
<table>
  <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Remove</th>
  </tr>
      <tr *ngFor="let user of counteries">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.id}}</td>
          <td><button>Delete</button></td>
      </tr>
</table>
</div>
</div>

<!---->

  <div class="main">
    <h1>Create New Contact </h1>
    
    <div class="newuser">
      <form #newuserform="ngForm" (ngSubmit)="addcontact(newuserform)">
        <p>
          <input type="text" ngModel #name="ngModel" name="name" placeholder="Name" required/>
          <span *ngIf="name.invalid">Name Invalid</span>
        </p>
        <p>
          <input type="text" ngModel #email="ngModel" name="email"  placeholder="Email" required />
          <span *ngIf="email.invalid">Email Invalid</span>
        </p>
        <p>
          <input type="text" ngModel #id="ngModel" name="id"  placeholder="Id" required />
          <span *ngIf="id.invalid">Phone Invalid</span>
        </p>
        <button [disabled]="newuserform.invalid" type="submit">Save Account</button>
      </form>
    </div>
    </div>


<!--
<div class="library">
  <table>
      All Active Users
      <tr>
          <th>Username</th>
          <th>Password</th>
          <th>ID</th>
          <th>Remove</th>
      </tr>
          <tr *ngFor="let user of counteries">
              <td>{{user.username}}</td>
              <td>{{user.password}}</td>
              <td>{{user.id}}</td>
              <td><button>Delete</button></td>
          </tr>
    </table>
  </div>
  <div class="main">
  
  <div class="main">

  -->